<div class="footer wf-section">
    <div class="w-container">
      <div>
        <a href="#" class="social-icon-link w-inline-block"><img src="{{asset "images/linkedin.png"}}" alt="" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"></a>
        <a href="https://github.com/mohab-sameh" target="_blank" class="social-icon-link w-inline-block"><img src="{{asset "images/github.png"}}" alt="" width="20"></a>
      </div>
      <div class="footer-text">Made with ❤️ and ☕ by Mohab</div>
    </div>
  </div>