<div class="footer wf-section">
    <div class="w-container">
      <div>
        <a href="#" class="social-icon-link w-inline-block"><img src="{{asset "images/social-03.svg"}}" alt="" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="{{asset "images/social-18.svg"}}" alt="" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="{{asset "images/social-30.svg"}}" alt="" width="20"></a>
      </div>
      <div class="footer-text">Powered by Webflow</div>
    </div>
  </div>